[Unit]
Description=Easy WiFi setup for Linux devices from your mobile phone or laptop
After=network.target NetworkManager.service

[Service]
ExecStart=/usr/bin/start-wifi-connect.sh start
Type=oneshot

[Install]
WantedBy=multi-user.target
