[Unit]
Description=Balena wifi connect service
After=network.target NetworkManager.service

[Service]
Type=simple
ExecStart=/usr/bin/start-wifi-connect.sh
StandardOutput=syslog
SyslogIdentifier=wifi-connect

[Install]
WantedBy=multi-user.target
