[Unit]
Description=Easy WiFi setup for Linux devices from your mobile phone or laptop
Requires=dnsmasq.service
After=network.target NetworkManager.service dnsmasq.service

[Service]
ExecStart=/usr/bin/start-wifi-connect.sh
Type=oneshot

[Install]
WantedBy=multi-user.target
