[Unit]
Description=Shairport Sync v2 - AirPlay Audio Receiver (BT)
Wants=sound.target
Requires=network-online.target nqptp.service avahi-daemon.service
After=network-online.target nqptp.service avahi-daemon.service sound.target

[Service]
EnvironmentFile=/tmp/v2-%I-extraopts.env
ExecStart=/usr/bin/shairport-sync-v2 "$OPTS"
Restart=always
RestartSec=1
Nice=-20

[Install]
WantedBy=multi-user.target
