[Unit]
Description=Shairport Sync v1 - AirPlay Audio Receiver (USB)
Wants=network-online.target
After=network.target network-online.target sound.target

[Service]
EnvironmentFile=/tmp/v1-%I-extraopts.env
ExecStart=/usr/bin/shairport-sync-v1 -c /etc/shairport-sync-v1-%I.conf "$OPTS"
Restart=always
RestartSec=1
Nice=-20

[Install]
WantedBy=multi-user.target
