[Unit]
Description=AUX Connect controller
After=network.target

[Service]
ExecStart=/usr/bin/usb-interface.sh start
ExecStop=/usr/bin/usb-interface.sh stop
RemainAfterExit=true
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
